* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #0f0f0f;
  font-family: "Inter", sans-serif;
  color: #9f9f9f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* min-height: 100vh; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 2rem;
}

.logo {
  color: #fff;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 600;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
  font-size: 1.6rem;
  color: #fff;
  list-style-type: none;
}

.nav ul li {
  color: #fff;
}

.nav ul li a {
  color: #676767;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

.nav ul li a.active,
.nav ul li a:hover {
  color: #fff;
  text-decoration: none;
}

.btn {
  display: block;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 1.2rem 3rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  background: #323232;
  border-radius: 16px;
  transition: all 0.2s ease-in;
}

.btn:hover {
  background-color: #fff;
  color: #323232;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

.main__section {
  padding-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
}

.shadow__box {
  cursor: pointer;
  position: relative;
  border-radius: 30px;
  background: #0f0f0f;
  transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.shadow__box:hover {
  transform: scale(1.05);
}

.shadow__box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  border-radius: 30px;
  opacity: 0.25;
}

.bio {
  padding: 50px 46px;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  grid-column: span 2;
}

.bio .image {
  width: 224px;
  height: 224px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(90deg, #3c58e3 -15%, #c2ebff 58%, #5ab5e2 97%);
  border-radius: 30px 0 30px 0;
  flex: none;
}

.bio .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infos {
  align-self: center;
}

.infos h4 {
  color: #bcbcbc;
  opacity: 0.7;
  font-size: 14px;
  letter-spacing: 0.3px;
  margin-bottom: 3px;
}

.infos h1 {
  font-size: 36px;
  line-height: 40px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 12px;
}

.infos p {
  font-size: 14px;
  letter-spacing: 0.3px;
  margin: 0;
}

.bio__right {
  display: flex;
  flex-direction: column;
  gap: 24px;
  grid-column: span 2;
  width: 100%;
  height: 100%;
}

.bio__right-content > div {
  padding: 24px;
}

.flow__text {
  width: 100%;
  padding: 25px 17px;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.bio__right-content {
  display: flex;
  gap: 24px;
}

.bio__right-content > div {
  width: 50%;
  height: 100%;
}

.sign__footer .infos h1 {
  font-size: 20px;
  /* margin-bottom: 0; */
  line-height: 1;
}

.sign__footer .infos h4 {
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 16px;
}

.sign__footer {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bio .hover-btn {
  display: block;
  margin-top: 24px;
  margin-left: auto;
}

.shadow__box .hover-btn {
  filter: brightness(0.2);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.shadow__box:hover .hover-btn {
  filter: brightness(1);
}

.services {
  grid-column: span 2;
  padding: 24px;
}

.services .icon-boxes {
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin-bottom: 56px;
  margin-top: 46px;
}

.profiles,
.stats,
.collab,
.blog {
  padding: 24px;
}

.blog{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog .image{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.profiles .inner-profile-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 22px;
  margin-bottom: 16px;
}

.profiles .inner-profile-icons > a {
  width: 82px;
  height: 82px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 4px 24px -1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  transition: 0.3s;
  z-index: 2;
}

.profiles .inner-profile-icons > a:hover {
  background: #ffffff;
  color: #0f0f0f;
}

.stats,
.collab {
  grid-column: span 2;
  height: 190px;
}
